<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Communication Failure</title>
</head>

<body>
	<h1>Agent Communication</h1>
	
	<span><b>Agent Not Found!</b></span>
	<hr>

	<a href="/">Return Home</a>
</body>

</html>
