<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Summer Camp</title>
</head>

<body>
	<h1>Course Evaluations</h1>
	<h2>Evaluations</h2>
	<ul>
		<li>To apply select <a href="/evaluate">Application</a></li>
	</ul>
	<hr>
	<h2>Administrator View</h2>
	<ul>
		<li>To select evaluations based on course <a href="/adminFindEvals">Select by Course</a></li>
		<li>To remove all evaluations <a href="/adminRemove">Remove All Evaluations</a></li>
	</ul>
	<hr>
</body>

</html>
