<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Secret Agents</title>
	<style>
		html {
			font-size: 14px;
			background-color:mediumblue;
		}
		div {
			margin:auto;
			background-color: lightblue; 
			border-style: double; 
			border-color: white; 
			border-width: 0.6rem; 
			padding: 1rem;
		}
		p {
			color: red;
		}
	</style>
</head>

<body>
	<div>
		<h1>Secret Agent Management System</h1>
		<p>
			Welcome to a vast network of not-so-secret agents. They're all over the place. Join our network and communicate with one another! We'll handle the translations.
		</p>
		<ul>
			<li>To add an agent <a href="/addAgent">Add an Agent</a></li>
			<li>To communicate with an agent <a href="/agentCommunicate">Communicate</a></li>
			<li>To remove all agents <a href="/removeAllAgents">Remove All Agents</a></li>
		</ul>
		<hr>
	</div>
	
	
</body>

</html>
