<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Secret Agents</title>
</head>

<body>
	<h1>Secret Agent Management System</h1>
	<ul>
		<li>To add an agent <a href="/addAgent">Add an Agent</a></li>
		<li>To communicate with an agent <a href="/agentCommunicate">Communicate</a></li>
		<li>To remove all agents <a href="/removeAllAgents">Remove All Agents</a></li>
	</ul>
	<hr>
</body>

</html>
