<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed Agents</title>
</head>

<body>
	<h1>Removal of All Agents from Database</h1>

	<p>Number of agents removed: <%= numberRemoved %></p>
	<br>
	<hr>
	<a href="/">HOME</a>
</body>

</html>
