<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Communication Confirmation</title>
</head>

<body>
	<h1>Agent Communication</h1>
	
	<span><b>Agent Alias: </b><%= alias %></span><br>
	<span><b>Message Outbound: </b><br><%= message %></span><br>
	<span><b>Message Translated to Agent Language: </b><br><%= translated %></span>
	<hr>

	<a href="/">Return Home</a>
</body>

</html>
