<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed Agents</title>
	<style>
		html {
			font-size: 14px;
			background-color:mediumblue;
		}
		div {
			margin:auto;
			background-color: lightblue; 
			border-style: double; 
			border-color: white; 
			border-width: 0.6rem; 
			padding: 1rem;
		}
		p {
			color: red;
		}
	</style>
</head>

<body>
	<div>
		<h1>Removal of All Agents from Database</h1>

		<p>Number of agents removed: <%= numberRemoved %></p>
		<br>
		<hr>
		<a href="/">HOME</a>
	</div>
	
</body>

</html>
